section#reviewbox{
	.rep_box {
		display: flex;
		flex-wrap:wrap;
		padding:0;
	}
}




.review_single {
	text-align: center;
	height:455px;
	flex-basis:50%;
	padding:65px;
	&:nth-of-type(1) {
		border-right:1px solid $review_divider;
		border-bottom:1px solid $review_divider;
	}
	&:nth-of-type(2) {
		border-bottom:1px solid $review_divider;
	}
	&:nth-of-type(3) {
		border-right:1px solid $review_divider;
	}
	
	h3 {
		text-transform: uppercase;
		color:$black;
		font-size: 18px;
		letter-spacing: 0.12em;
		margin-bottom:10px;
		@include muli_extrabold;
	}
	span.review_name {
		color:$bodytext;
		display: block;
		font-size:16px;
		letter-spacing: 0.08em;
		@include muli_semibold;
	}
	.review_stars {
		display: flex;
		justify-content: center;
		margin-top: 17px;
		margin-bottom:33px;
		span.star {
			font-size: 35px;
			font-style: normal;
			color:$star
		}
		span.star.grey {
			color:$stargrey;
		}
	}
	p {
		color:$bodytext;
		font-size:18px;
		line-height: 26px;
		margin:0 auto 15px;
		letter-spacing: 0.08em;
		max-width:400px;
		@include muli_light;
	}
	span.read_more {
		color:$blue;
		font-size:16px;
		letter-spacing: 0.09em;
		display: block;
		padding-top:9px;
		cursor: pointer;
		transition: all 200ms ease-in-out;
		@include muli_bold;
		&:hover {
			color:$bluelight;
		}
	}
}


.see_all_reviews {
	width: 100%;
  max-width: 1170px;
  padding:0 75px;
  margin:0 auto;
  text-align: right;
  position: relative;
  top:-44px;
  span {
	  display: inline-block;
	  font-size: 14px;
	  letter-spacing: 0.09em;
	  color:$blue;
	  cursor: pointer;
	  transition: all 200ms ease-in-out;
	  @include muli_bold;
	  &:hover {
		  color:$bluelight;
	  }
  }
}

.reviews_overlay {
	position: fixed;
	z-index: 5;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity: 0;
	visibility: hidden;
	transition: all 200ms ease-in-out;
	background: rgba(0,0,0,0.5);
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.reviews_overlay.open {
	opacity: 1;
	visibility: visible;
}

.reviews_inner_overlay {
	width:100%;
	position: relative;
	margin:130px auto 75px;
}


.review_close {
	width:45px;
	height:45px;
	position: absolute;
	top:0;
	right:0;
	cursor: pointer;
	background: $blue;
	&:before, &:after {
		content:"";
		display: block;
		position: absolute;
		top:21px;
		left:6px;
		width:35px;
		height:2px;
		background: $white;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
}

.reviews_feed {
	width:100%;
	height:500px;
}


@media screen and (max-width: 1085px) {
	
	
	
	.review_single {
		height: 480px;
	}
	    
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.see_all_reviews {
		padding:0 60px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 990px) {
	
	section#reviewbox {
		display: block;
	}
	
	.review_single {
		height:auto;
		&:nth-of-type(1) {
			border-right:0;
		}
		&:nth-of-type(1),&:nth-of-type(2) {
			border-bottom: 1px solid #f1f1f1;
		}
		&:nth-of-type(3), &:nth-of-type(4) {
			display: none;
		}
		p {
			max-width: 570px;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.see_all_reviews {
		padding:0 40px;
	}
	
	
} /* Media Query */