
section#top_banner {
	width:100%;
	background: $bluegraddiagonal;
	padding:0 75px;
	position: relative;
	overflow: hidden;
	img.top_banner_img {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		opacity: 0.08;
		height:100%;
		object-fit:cover;
	}
	.top_banner_inner {
		position: relative;
		z-index: 1;
	}
}


.circle {
	width:900px;
	height:900px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.03);
	position: absolute;
}

.circle_one {
	top: 200px;
  left: -560px;
}

.circle_two {
	top:410px;
	left:-300px;
}

.circle_three {
	top: -410px;
  right: -510px;
}

.circle_four {
	top:350px;
	right: -510px;
}

.top_banner_inner {
	text-align: center;
	max-width:1030px;
	margin: 0 auto;
	padding:140px 0 450px;
	h1 {
		font-size: 52px;
		line-height: 65px;
		letter-spacing: 0.08em;
		color:$h1color;
		@include muli_light;
	}
}


.five_star_wrapper {
	display: flex;
	justify-content: center;
	margin:40px auto 0;
	max-width:485px;
	a.star {
		font-size:85px;
		margin:0 4px;
		cursor: pointer;
		text-shadow:$starshadow;
		text-decoration: none;
	}
	a.star, a.star:hover ~ a.star {
	 	color: $stargrey;
	  transition: color 300ms;
		transition-delay: 0;
	}
	&:hover a.star {
	 	color: $star;
	}
	&:hover a.star:nth-child(2) {
	 	transition-delay: 30ms;
	}
	&:hover a.star:nth-child(3) {
  		transition-delay: 70ms;
	}
	&:hover a.star:nth-child(4) {
  		transition-delay: 100ms;
	}
	&:hover a.star:nth-child(5) {
  		transition-delay: 130ms;
	}
	&:hover a.star {
  		cursor: pointer;
		font-style: normal;
	}
	//https://codepen.io/blixt/pen/QyNXEp
}



@media screen and (max-width: 1245px) {
	
	
.circle {
	width:700px;
	height:700px;
}



.circle_one {
	top: 210px;
  left: -450px;
}

.circle_two {
	top: 410px;
  left: -200px;
}

.circle_three {
	top: -250px;
  right: -420px;
}

.circle_four {
	top: 290px;
  right: -380px;
}

	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	section#top_banner {
		padding:0 60px;
	}
	
	.top_banner_inner {
		padding: 88px 0 450px;
		h1 {
			font-size: 41px;
			line-height: 50px;
		}
	}
	
	.five_star_wrapper {
		margin:20px auto 0;
		a.star {
			font-size: 70px;
		}
	}
	
	
	
	
.circle {
	width:500px;
	height:500px;
}



.circle_one {
	top: 260px;
  left: -260px;
}

.circle_two {
	top: 380px;
  left: -57px;
}

.circle_three {
	top: -210px;
  right: -260px;
}

.circle_four {
	top: 230px;
  right: -250px;
}

	

	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	section#top_banner {
		padding:0 20px;
	}
	
	.top_banner_inner {
		padding: 60px 0 230px;
		h1 {
			font-size:30px;
			line-height: 38px;
		}
	}
	
	
	.five_star_wrapper {
		max-width:300px;
		margin: 30px auto 15px;
		a.star {
			font-size: 51px;
			margin:0 2px;
		}
	}
	
	
	
.circle {
	width:300px;
	height:300px;
}



.circle_one {
	top: 150px;
  left: -226px;
}

.circle_two {
	top: 280px;
    left: -27px;
}

.circle_three {
	top: -80px;
  right: -150px;
}

.circle_four {
	top: 180px;
  right: -150px;
}

	
	
	
} /* Media Query */

