section#reviewbox{
	.rep_box {
		display: flex;
		flex-wrap:wrap;
		padding:0;
		text-align: center;
	}
}




.review_single {
	height:455px;
	flex-basis:50%;
	padding:65px;
	&:nth-of-type(1) {
		border-right:1px solid $review_divider_desktop;
		border-bottom:1px solid $review_divider_desktop;
	}
	&:nth-of-type(2) {
		border-bottom:1px solid $review_divider_desktop;
	}
	&:nth-of-type(3) {
		border-right:1px solid $review_divider_desktop;
	}
	span.review_name {
		color:$bodytext;
		display: block;
		font-size:16px;
		letter-spacing: 0.08em;
		@include muli_semibold;
	}
	.review_stars {
		display: flex;
		justify-content: center;
		margin-top: 17px;
		margin-bottom:33px;
		span.star {
			font-size: 35px;
			margin:0 2px;
			font-style: normal;
			color:$star
		}
		span.star.grey {
			color:$stargrey;
		}
	}
	p {
		max-width:420px;
		margin-left:auto;
		margin-right:auto;
	}
	span.read_more {
		color:$blue;
		font-size:16px;
		letter-spacing: 0.09em;
		display: block;
		padding-top:9px;
		cursor: pointer;
		transition: all 200ms ease-in-out;
		@include muli_bold;
		&:hover {
			color:$bluelight;
		}
	}
}


.see_all_reviews_desktop {
	width: 100%;
  max-width: 1170px;
  padding:0 75px;
  margin:0 auto;
  text-align: right;
  position: relative;
  top:-44px;
  span {
	  display: inline-block;
	  font-size: 14px;
	  letter-spacing: 0.09em;
	  color:$blue;
	  cursor: pointer;
	  transition: all 200ms ease-in-out;
	  @include muli_bold;
	  &:hover {
		  color:$bluelight;
	  }
  }
}

span.see_all_reviews_mobile {
	display: none;
}

.reviews_overlay {
	position: fixed;
	z-index: 5;
	padding:0 75px;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity: 0;
	visibility: hidden;
	transition: all 200ms ease-in-out;
	background: rgba(0,0,0,0.6);
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.reviews_overlay.open {
	opacity: 1;
	visibility: visible;
}

.reviews_inner_overlay {
	width:100%;
	position: relative;
	margin: 70px auto 75px;
	overflow: hidden;
}

.reviews_inner_overlay.rep_box {
	padding:0;
}


.reviews_feed {
	overflow-y: scroll;
	margin-top:10px;
	-webkit-overflow-scrolling: touch;
	.review_single {
		padding:65px 65px 35px;
		height:auto;
		border-bottom: 1px solid #f1f1f1;
		&:nth-of-type(1) {
			border-right:0;
		}
		.review_stars {
			justify-content: flex-start;
			span.star {
				margin:0 3px 0 0;
			}
		}
		p {
			margin:0px 0px 15px 0px;
			max-width:100%;
			
		}
	}
}


.review_close {
	width:45px;
	height:45px;
	position: absolute;
	top:0;
	right:0;
	cursor: pointer;
	background: $blue;
	z-index:1;
	&:before, &:after {
		content:"";
		display: block;
		position: absolute;
		top:21px;
		left:6px;
		width:35px;
		height:2px;
		background: $white;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
}

.reviews_feed {
	width:100%;
	height:500px;
}


@media screen and (max-width: 1085px) {
	
	
	
	.review_single {
		height: 480px;
	}
	    
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.see_all_reviews {
		padding:0 60px;
	}
	
	
	.reviews_overlay {
		padding:0 60px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 990px) {
	
	section#reviewbox {
		.rep_box {
			display: block;
		}
	}
	
	.review_single {
		height:auto;
		padding-bottom:0;
		&:nth-of-type(1), &:nth-of-type(2) {
			border:0;
		}
		&:nth-of-type(2) {
			&:after {
				content:"";
				margin-top:65px;
				display: inline-block;
				width:100%;
				max-width:290px;
				height:1px;
				background: $review_divider_mobile;
			}	
		}
		&:nth-of-type(3), &:nth-of-type(4) {
			display: none;
		}
		p {
			max-width: 570px;
		}
	}
	
	.see_all_reviews_desktop {
		display: none;
	}
	
	span.see_all_reviews_mobile {
		display: inline-block;	
		margin:0 auto;
		color:#fff;
		background:$bluegraddiagonal;
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.1em;
		border-radius: 40px;
		padding:18px 30px;
		margin:55px 0 65px;
		cursor: pointer;
		@include muli_bold;
	}
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.see_all_reviews {
		padding:0 40px;
	}
	
	
	.review_single {
		padding:50px 35px 0px;
		&:nth-of-type(1), &:nth-of-type(2) {
			&:after {
				content:"";
				margin-top:40px;
				display: inline-block;
				width:100%;
				max-width:290px;
				height:1px;
				background: $review_divider_mobile;
			}
		}
		&:nth-of-type(2) {
			padding-top:35px;
		}
		span.review_name {
			font-size: 15px;
		}
		.review_stars {
			margin-top: 11px;
			margin-bottom: 18px;
			span.star {
				font-size: 31px;
			}
		}
		span.read_more {
			padding-top: 5px;
			font-size: 15px;
		}
	}
	
	
	span.see_all_reviews_mobile {
		margin: 38px 0 50px;
		font-size: 14px;
		padding: 16px 30px;
	}
	
	
	.reviews_overlay {
		overflow-y: hidden;
		padding:0;
	}
	
	.reviews_inner_overlay {
		margin:0;
		
	}
	
	.reviews_feed {
		height:100vh;
		.review_single {
			padding:45px 30px 30px 30px;
			&:nth-of-type(1), &:nth-of-type(2) {
				border-bottom: 1px solid #f1f1f1;
				padding:45px 30px 30px 30px;
				&:after {
					display: none;
				}
			}
			&:nth-of-type(2) {
				
			}
			.review_stars {
				span.star {
					font-size: 27px;
				}
			}
		}
	}
	
	
	
	
} /* Media Query */