

body {
	background:$bodybg;
	overflow-y: scroll;
	overflow-x: hidden;
}


body.fixed {
	overflow: hidden;
	
}

section.section_padding {
	padding:0 75px;
}

.rep_box {
	background: $white;
	width:100%;
	max-width:1020px;
	margin:0 auto 60px;
	padding:75px;
	position: relative;
	box-shadow: $dropshadow;
	&:before {
		content:"";
		display: block;
		width:100%;
		height:3px;
		background:$bluegrad;
		position: absolute;
		top:0;
		left:0;
	}
}


h2.fullpage_h2 {
	color:$h2color;
	font-size: 31px;
	line-height: 36px;
	letter-spacing: 0.08em;
	display: block;
	max-width:640px;
	margin:0 auto;
	@include muli_semibold;
}


h3.fullpage_h3 {
	text-transform: uppercase;
	color:$black;
	font-size:18px;
	line-height: 22px;
	letter-spacing: 0.12em;
	margin-bottom: 9px;
	@include muli_extrabold;
}

p {
	color:$bodytext;
	font-size:18px;
	line-height: 26px;
	margin:0 0 15px;
	letter-spacing: 0.08em;
	@include muli_light;
}


@media screen and (max-width: 1066px) {
	
	
	section.section_padding {
		padding:0 60px;
	}
	
	h2.fullpage_h2 {
		font-size: 28px;
	}
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	section.section_padding {
		padding:0 20px;
	}
	
	.rep_box {
		padding:50px 30px;
		margin: 0 auto 25px;
		&:before {
			height:2px
		}
	}
	
	h2.fullpage_h2 {
		font-size: 20px;
		line-height: 25px;
	}
	
	h3.fullpage_h3 {
		font-size:15px;
		line-height: 20px;
		margin-bottom: 3px;
	}
	
p {
	font-size:15px;
	line-height: 20px;
	max-width:100%;
}
	
	
	
} /* Media Query */

